body {
    background: #000000;
    overflow: hidden;
}

.maincontainer {
    position: absolute;
    width: 1200px;
    height: 712px;
    right: 9%;
    top: -0.1%;
}

/* THE LIBRARY OF BABEL */

.maintext {
    position: absolute;
    width: 120px;
    height: auto;
    top: 355px;
    right: 539.2px;

    font-family: 'Courier';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* or 100% */
    text-align: center;

    color: #FFFFFF;
}

.maintext:hover {
    position: absolute;
    width: 120px;
    height: auto;
    top: 355.5px;
    right: 539px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 8.5px;
    line-height: 12px;
    letter-spacing: 2px;
    /* or 100% */
    text-align: center;
    cursor: help;

    color: #FFFFFF;
}

/* Group 6 */

.pentagon01 {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 30%;
    right: 37.5%;
    animation: rotate01 40s infinite linear;
}

.pentagon1:hover {
    animation-play-state: paused;
}

/* Rectangle 25 */

.rec01 {
    box-sizing: border-box;

    position: absolute;
    width: 126.41px;
    height: 10.8px;
    left: 29px;
    top: 45px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(-30.22deg);
}  

.rec01:hover {
    background-color: #FFFFFF;
}

/* Rectangle 26 */

.rec02 {
    box-sizing: border-box;

    position: absolute;
    width: 126.41px;
    height: 10.8px;
    left: 143px;
    top: 245px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(-30.22deg);
}

.rec02:hover {
    background-color: #FFFFFF;
}

/* Rectangle 27 */

.rec03 {
    box-sizing: border-box;

    position: absolute;
    width: 126.41px;
    height: 10.8px;
    left: 143px;
    top: 45px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(30.45deg);
}

.rec03:hover {
    background-color: #FFFFFF;
}

/* Rectangle 29 */

.rec04 {
    box-sizing: border-box;

    position: absolute;
    width: 126.41px;
    height: 10.8px;
    left: 200px;
    top: 145px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(-90deg);
}

.rec04:hover {
    background-color: #FFFFFF;
}

/* Rectangle 30 */

.rec05 {
    box-sizing: border-box;

    position: absolute;
    width: 126.41px;
    height: 10.8px;
    left: -28px;
    top: 145px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(-90deg);
}

.rec05:hover {
    background-color: #FFFFFF;
}

/* Rectangle 28 */

.rec06 {
    box-sizing: border-box;

    position: absolute;
    width: 126.41px;
    height: 10.8px;
    left: 29px;
    top: 245px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(30.45deg);
}

.rec06:hover {
    background-color: #FFFFFF;
}

/* Group 4 */

.pentagon02 {

    position: absolute;
    width: 700px;
    height: 700px;
    top: 8px;
    right: 245px;

    transform: rotate(4.96deg);
    animation: rotate02 120s infinite linear;
}

.pentagon2:hover {
    animation-play-state: paused;
}

/* Rectangle 31 */

.rec07 {
    box-sizing: border-box;

    position: absolute;
    width: 373px;
    height: 31.77px;
    left: 390px;
    top: 80px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(41.3deg);
}

.rec07:hover {
    background-color: #FFFFFF;
}

/* Rectangle 32 */

.rec08 {
    box-sizing: border-box;

    position: absolute;
    width: 373px;
    height: 31.77px;
    left: -63px;
    top: 587px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(41.3deg);
}

.rec08:hover {
    background-color: #FFFFFF;
}


/* Rectangle 33 */

.rec09 {
    box-sizing: border-box;

    position: absolute;
    width: 373px;
    height: 31.77px;
    left: 496px;
    top: 400px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(101.98deg);
}

.rec09:hover {
    background-color: #FFFFFF;
}


/* Rectangle 34 */

.rec10 {
    box-sizing: border-box;

    position: absolute;
    width: 373px;
    height: 33px;
    left: 270px;
    top: 653px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(-18.47deg);
}

.rec10:hover {
    background-color: #FFFFFF;
}


/* Rectangle 35 */

.rec11 {
    box-sizing: border-box;

    position: absolute;
    width: 373px;
    height: 33px;
    left: 56.97px;
    top: 12px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(-18.47deg);
}

.rec11:hover {
    background-color: #FFFFFF;
}


/* Rectangle 36 */

.rec12 {
    box-sizing: border-box;

    position: absolute;
    width: 373px;
    height: 31.77px;
    left: -169px;
    top: 266.5px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(101.98deg);
}

.rec12:hover {
    background-color: #FFFFFF;
}


/* Group 5 */

.pentagon03 {
    position: absolute;
    width: 1000px;
    height: 1000px;
    right: 95px;
    top: -120px;
    animation: rotate03 150s infinite linear;
    transform: rotate(58.05deg);
}

.pentagon3:hover {
    animation-play-state: paused;
}

/* Rectangle 31 */

.rec13 {
    box-sizing: border-box;

    position: absolute;
    width: 567px;
    height: 49px;
    left: 715px;
    top: 347px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(74.38deg);
}

.rec13:hover {
    background-color: #FFFFFF;
}


/* Rectangle 32 */

.rec14 {
    box-sizing: border-box;

    position: absolute;
    width: 567px;
    height: 49px;
    left: -281px;
    top: 616px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(74.38deg);
}

.rec14:hover {
    background-color: #FFFFFF;
}


/* Rectangle 33 */

.rec15 {
    box-sizing: border-box;

    position: absolute;
    width: 567px;
    height: 49px;
    left: 583px;
    top: 843px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(135.06deg);
}

.rec15:hover {
    background-color: #FFFFFF;
}


/* Rectangle 34 */

.rec16 {
    box-sizing: border-box;

    position: absolute;
    width: 567px;
    height: 49px;
    left: 86px;
    top: 977px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(14.61deg);
}

.rec16:hover {
    background-color: #FFFFFF;
}

/* Rectangle 35 */

.rec17 {
    box-sizing: border-box;

    position: absolute;
    width: 567px;
    height: 49px;
    left: 347px;
    top: -14px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(14.61deg);
}

.rec17:hover {
    background-color: #FFFFFF;
}


/* Rectangle 36 */

.rec18 {
    box-sizing: border-box;

    position: absolute;
    width: 567px;
    height: 49px;
    left: -150.12px;
    top: 120px;

    background: #000000;
    border: 1px solid #FFFFFF;
    transform: rotate(135.06deg);
}

.rec18:hover {
    background-color: #FFFFFF;
}


@keyframes rotate01 {
    0% {
        transform: rotate(0deg);
        transform-origin: center;
    }

    100% {
        transform: rotate(360deg);
        transform-origin: center;
    }
}

@keyframes rotate02 {
    0% {
        transform: rotate(0deg);
        transform-origin: center;
    }

    100% {
        transform: rotate(-360deg);
        transform-origin: center;
    }
}

@keyframes rotate03 {
    0% {
        transform: rotate(0deg);
        transform-origin: center;
    }

    100% {
        transform: rotate(360deg);
        transform-origin: center;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    body {
        background: #000000;
        overflow: hidden;
    }
    
    .maincontainer {
        position: absolute;
        width: 1200px;
        height: 712px;
        right: -104%;
        top: 5%;
        transform: scale(0.5);
    }
    
    /* THE LIBRARY OF BABEL */
    
    .maintext {
        position: absolute;
        width: 120px;
        height: auto;
        top: 355px;
        right: 539.2px;
    
        font-family: 'Courier';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        /* or 100% */
        text-align: center;
    
        color: #FFFFFF;
    }
    
    .maintext:hover {
        position: absolute;
        width: 120px;
        height: auto;
        top: 355.5px;
        right: 539px;
    
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 8.5px;
        line-height: 12px;
        letter-spacing: 2px;
        /* or 100% */
        text-align: center;
        cursor: help;
    
        color: #FFFFFF;
    }
    
    /* Group 6 */
    
    .pentagon01 {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 30%;
        right: 37.5%;
        animation: rotate01 40s infinite linear;
    }
    
    .pentagon1:hover {
        animation-play-state: paused;
    }
    
    /* Rectangle 25 */
    
    .rec01 {
        box-sizing: border-box;
    
        position: absolute;
        width: 126.41px;
        height: 10.8px;
        left: 29px;
        top: 45px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(-30.22deg);
    }  
    
    .rec01:hover {
        background-color: #FFFFFF;
    }
    
    /* Rectangle 26 */
    
    .rec02 {
        box-sizing: border-box;
    
        position: absolute;
        width: 126.41px;
        height: 10.8px;
        left: 143px;
        top: 245px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(-30.22deg);
    }
    
    /* Rectangle 27 */
    
    .rec03 {
        box-sizing: border-box;
    
        position: absolute;
        width: 126.41px;
        height: 10.8px;
        left: 143px;
        top: 45px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(30.45deg);
    }
    
    .rec03:hover {
        background-color: #FFFFFF;
    }
    
    /* Rectangle 29 */
    
    .rec04 {
        box-sizing: border-box;
    
        position: absolute;
        width: 126.41px;
        height: 10.8px;
        left: 200px;
        top: 145px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(-90deg);
    }
    
    /* Rectangle 30 */
    
    .rec05 {
        box-sizing: border-box;
    
        position: absolute;
        width: 126.41px;
        height: 10.8px;
        left: -28px;
        top: 145px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(-90deg);
    }
    
    /* Rectangle 28 */
    
    .rec06 {
        box-sizing: border-box;
    
        position: absolute;
        width: 126.41px;
        height: 10.8px;
        left: 29px;
        top: 245px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(30.45deg);
    }
    
    /* Group 4 */
    
    .pentagon02 {
    
        position: absolute;
        width: 700px;
        height: 700px;
        top: 8px;
        right: 245px;
    
        transform: rotate(4.96deg);
        animation: rotate02 120s infinite linear;
    }
    
    .pentagon2:hover {
        animation-play-state: paused;
    }
    
    /* Rectangle 31 */
    
    .rec07 {
        box-sizing: border-box;
    
        position: absolute;
        width: 373px;
        height: 31.77px;
        left: 390px;
        top: 80px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(41.3deg);
    }
    
    /* Rectangle 32 */
    
    .rec08 {
        box-sizing: border-box;
    
        position: absolute;
        width: 373px;
        height: 31.77px;
        left: -63px;
        top: 587px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(41.3deg);
    }
    
    /* Rectangle 33 */
    
    .rec09 {
        box-sizing: border-box;
    
        position: absolute;
        width: 373px;
        height: 31.77px;
        left: 496px;
        top: 400px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(101.98deg);
    }
    
    /* Rectangle 34 */
    
    .rec10 {
        box-sizing: border-box;
    
        position: absolute;
        width: 373px;
        height: 33px;
        left: 270px;
        top: 653px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(-18.47deg);
    }
    
    /* Rectangle 35 */
    
    .rec11 {
        box-sizing: border-box;
    
        position: absolute;
        width: 373px;
        height: 33px;
        left: 56.97px;
        top: 12px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(-18.47deg);
    }
    
    /* Rectangle 36 */
    
    .rec12 {
        box-sizing: border-box;
    
        position: absolute;
        width: 373px;
        height: 31.77px;
        left: -169px;
        top: 266.5px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(101.98deg);
    }
    
    /* Group 5 */
    
    .pentagon03 {
        position: absolute;
        width: 1000px;
        height: 1000px;
        right: 95px;
        top: -120px;
        animation: rotate03 150s infinite linear;
        transform: rotate(58.05deg);
    }
    
    .pentagon3:hover {
        animation-play-state: paused;
    }
    
    /* Rectangle 31 */
    
    .rec13 {
        box-sizing: border-box;
    
        position: absolute;
        width: 567px;
        height: 49px;
        left: 715px;
        top: 347px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(74.38deg);
    }
    
    /* Rectangle 32 */
    
    .rec14 {
        box-sizing: border-box;
    
        position: absolute;
        width: 567px;
        height: 49px;
        left: -281px;
        top: 616px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(74.38deg);
    }
    
    /* Rectangle 33 */
    
    .rec15 {
        box-sizing: border-box;
    
        position: absolute;
        width: 567px;
        height: 49px;
        left: 583px;
        top: 843px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(135.06deg);
    }
    
    /* Rectangle 34 */
    
    .rec16 {
        box-sizing: border-box;
    
        position: absolute;
        width: 567px;
        height: 49px;
        left: 86px;
        top: 977px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(14.61deg);
    }
    
    /* Rectangle 35 */
    
    .rec17 {
        box-sizing: border-box;
    
        position: absolute;
        width: 567px;
        height: 49px;
        left: 347px;
        top: -14px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(14.61deg);
    }
    
    /* Rectangle 36 */
    
    .rec18 {
        box-sizing: border-box;
    
        position: absolute;
        width: 567px;
        height: 49px;
        left: -150.12px;
        top: 120px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(135.06deg);
    }
    
    @keyframes rotate01 {
        0% {
            transform: rotate(0deg);
            transform-origin: center;
        }
    
        100% {
            transform: rotate(360deg);
            transform-origin: center;
        }
    }
    
    @keyframes rotate02 {
        0% {
            transform: rotate(0deg);
            transform-origin: center;
        }
    
        100% {
            transform: rotate(-360deg);
            transform-origin: center;
        }
    }
    
    @keyframes rotate03 {
        0% {
            transform: rotate(0deg);
            transform-origin: center;
        }
    
        100% {
            transform: rotate(360deg);
            transform-origin: center;
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    body {
        background: #000000;
        overflow: hidden;
    }
    
    .maincontainer {
        position: absolute;
        width: 1200px;
        height: 712px;
        right: -45%;
        top: -0.1%;
        transform: scale(0.7);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        background: #000000;
        overflow: hidden;
    }
    
    .maincontainer {
        position: absolute;
        width: 1200px;
        height: 712px;
        right: -8%;
        top: -0.1%;
    }
    
    /* THE LIBRARY OF BABEL */
    
    .maintext {
        position: absolute;
        width: 120px;
        height: auto;
        top: 355px;
        right: 539.2px;
    
        font-family: 'Courier';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        /* or 100% */
        text-align: center;
    
        color: #FFFFFF;
    }
    
    .maintext:hover {
        position: absolute;
        width: 120px;
        height: auto;
        top: 355.5px;
        right: 539px;
    
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 8.5px;
        line-height: 12px;
        letter-spacing: 2px;
        /* or 100% */
        text-align: center;
        cursor: help;
    
        color: #FFFFFF;
    }
    
    /* Group 6 */
    
    .pentagon01 {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 30%;
        right: 37.5%;
        animation: rotate01 40s infinite linear;
    }
    
    .pentagon1:hover {
        animation-play-state: paused;
    }
    
    /* Rectangle 25 */
    
    .rec01 {
        box-sizing: border-box;
    
        position: absolute;
        width: 126.41px;
        height: 10.8px;
        left: 29px;
        top: 45px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(-30.22deg);
    }  
    
    .rec01:hover {
        background-color: #FFFFFF;
    }
    
    /* Rectangle 26 */
    
    .rec02 {
        box-sizing: border-box;
    
        position: absolute;
        width: 126.41px;
        height: 10.8px;
        left: 143px;
        top: 245px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(-30.22deg);
    }
    
    .rec02:hover {
        background-color: #FFFFFF;
    }
    
    /* Rectangle 27 */
    
    .rec03 {
        box-sizing: border-box;
    
        position: absolute;
        width: 126.41px;
        height: 10.8px;
        left: 143px;
        top: 45px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(30.45deg);
    }
    
    .rec03:hover {
        background-color: #FFFFFF;
    }
    
    /* Rectangle 29 */
    
    .rec04 {
        box-sizing: border-box;
    
        position: absolute;
        width: 126.41px;
        height: 10.8px;
        left: 200px;
        top: 145px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(-90deg);
    }
    
    .rec04:hover {
        background-color: #FFFFFF;
    }
    
    /* Rectangle 30 */
    
    .rec05 {
        box-sizing: border-box;
    
        position: absolute;
        width: 126.41px;
        height: 10.8px;
        left: -28px;
        top: 145px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(-90deg);
    }
    
    .rec05:hover {
        background-color: #FFFFFF;
    }
    
    /* Rectangle 28 */
    
    .rec06 {
        box-sizing: border-box;
    
        position: absolute;
        width: 126.41px;
        height: 10.8px;
        left: 29px;
        top: 245px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(30.45deg);
    }
    
    .rec06:hover {
        background-color: #FFFFFF;
    }
    
    /* Group 4 */
    
    .pentagon02 {
    
        position: absolute;
        width: 700px;
        height: 700px;
        top: 8px;
        right: 245px;
    
        transform: rotate(4.96deg);
        animation: rotate02 120s infinite linear;
    }
    
    .pentagon2:hover {
        animation-play-state: paused;
    }
    
    /* Rectangle 31 */
    
    .rec07 {
        box-sizing: border-box;
    
        position: absolute;
        width: 373px;
        height: 31.77px;
        left: 390px;
        top: 80px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(41.3deg);
    }
    
    .rec07:hover {
        background-color: #FFFFFF;
    }
    
    /* Rectangle 32 */
    
    .rec08 {
        box-sizing: border-box;
    
        position: absolute;
        width: 373px;
        height: 31.77px;
        left: -63px;
        top: 587px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(41.3deg);
    }
    
    .rec08:hover {
        background-color: #FFFFFF;
    }
    
    
    /* Rectangle 33 */
    
    .rec09 {
        box-sizing: border-box;
    
        position: absolute;
        width: 373px;
        height: 31.77px;
        left: 496px;
        top: 400px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(101.98deg);
    }
    
    .rec09:hover {
        background-color: #FFFFFF;
    }
    
    
    /* Rectangle 34 */
    
    .rec10 {
        box-sizing: border-box;
    
        position: absolute;
        width: 373px;
        height: 33px;
        left: 270px;
        top: 653px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(-18.47deg);
    }
    
    .rec10:hover {
        background-color: #FFFFFF;
    }
    
    
    /* Rectangle 35 */
    
    .rec11 {
        box-sizing: border-box;
    
        position: absolute;
        width: 373px;
        height: 33px;
        left: 56.97px;
        top: 12px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(-18.47deg);
    }
    
    .rec11:hover {
        background-color: #FFFFFF;
    }
    
    
    /* Rectangle 36 */
    
    .rec12 {
        box-sizing: border-box;
    
        position: absolute;
        width: 373px;
        height: 31.77px;
        left: -169px;
        top: 266.5px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(101.98deg);
    }
    
    .rec12:hover {
        background-color: #FFFFFF;
    }
    
    
    /* Group 5 */
    
    .pentagon03 {
        position: absolute;
        width: 1000px;
        height: 1000px;
        right: 95px;
        top: -120px;
        animation: rotate03 150s infinite linear;
        transform: rotate(58.05deg);
    }
    
    .pentagon3:hover {
        animation-play-state: paused;
    }
    
    /* Rectangle 31 */
    
    .rec13 {
        box-sizing: border-box;
    
        position: absolute;
        width: 567px;
        height: 49px;
        left: 715px;
        top: 347px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(74.38deg);
    }
    
    .rec13:hover {
        background-color: #FFFFFF;
    }
    
    
    /* Rectangle 32 */
    
    .rec14 {
        box-sizing: border-box;
    
        position: absolute;
        width: 567px;
        height: 49px;
        left: -281px;
        top: 616px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(74.38deg);
    }
    
    .rec14:hover {
        background-color: #FFFFFF;
    }
    
    
    /* Rectangle 33 */
    
    .rec15 {
        box-sizing: border-box;
    
        position: absolute;
        width: 567px;
        height: 49px;
        left: 583px;
        top: 843px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(135.06deg);
    }
    
    .rec15:hover {
        background-color: #FFFFFF;
    }
    
    
    /* Rectangle 34 */
    
    .rec16 {
        box-sizing: border-box;
    
        position: absolute;
        width: 567px;
        height: 49px;
        left: 86px;
        top: 977px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(14.61deg);
    }
    
    .rec16:hover {
        background-color: #FFFFFF;
    }
    
    /* Rectangle 35 */
    
    .rec17 {
        box-sizing: border-box;
    
        position: absolute;
        width: 567px;
        height: 49px;
        left: 347px;
        top: -14px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(14.61deg);
    }
    
    .rec17:hover {
        background-color: #FFFFFF;
    }
    
    
    /* Rectangle 36 */
    
    .rec18 {
        box-sizing: border-box;
    
        position: absolute;
        width: 567px;
        height: 49px;
        left: -150.12px;
        top: 120px;
    
        background: #000000;
        border: 1px solid #FFFFFF;
        transform: rotate(135.06deg);
    }
    
    .rec18:hover {
        background-color: #FFFFFF;
    }
    
    
    @keyframes rotate01 {
        0% {
            transform: rotate(0deg);
            transform-origin: center;
        }
    
        100% {
            transform: rotate(360deg);
            transform-origin: center;
        }
    }
    
    @keyframes rotate02 {
        0% {
            transform: rotate(0deg);
            transform-origin: center;
        }
    
        100% {
            transform: rotate(-360deg);
            transform-origin: center;
        }
    }
    
    @keyframes rotate03 {
        0% {
            transform: rotate(0deg);
            transform-origin: center;
        }
    
        100% {
            transform: rotate(360deg);
            transform-origin: center;
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    body {
        background: #000000;
        overflow: hidden;
    }
    
    .maincontainer {
        position: absolute;
        width: 1200px;
        height: 712px;
        right: -1%;
        top: 0%;
    }
       
}

@media screen and (min-width: 1480px) {
    body {
        background: #000000;
        overflow: hidden;
    }
    
    .maincontainer {
        position: absolute;
        width: 1200px;
        height: 712px;
        right: 15.5%;
        top: 8.5%;
        transform: scale(1.15)
    }
       
}

@media screen and (min-width: 1720px) {
    body {
        background: #000000;
        overflow: hidden;
    }
    
    .maincontainer {
        position: absolute;
        width: 1200px;
        height: 712px;
        right: 19%;
        top: 13%;
        transform: scale(1.35)
    }
       
}

@media screen and (min-width: 1920px) {
    body {
        background: #000000;
        overflow: hidden;
    }
    
    .maincontainer {
        position: absolute;
        width: 1200px;
        height: 712px;
        right: 22.5%;
        top: 17%;
        transform: scale(1.45)
    }
       
}

@media screen and (min-width: 2150px) {
    body {
        background: #000000;
        overflow: hidden;
    }
    
    .maincontainer {
        position: absolute;
        width: 1200px;
        height: 712px;
        right: 24.5%;
        top: 20%;
        transform: scale(1.6)
    }
       
}

@media screen and (min-width: 2350px) {
    body {
        background: #000000;
        overflow: hidden;
    }
    
    .maincontainer {
        position: absolute;
        width: 1200px;
        height: 712px;
        right: 27.5%;
        top: 24%;
        transform: scale(1.8)
    }
       
}

@media screen and (min-width: 2560px) {
    body {
        background: #000000;
        overflow: hidden;
    }
    
    .maincontainer {
        position: absolute;
        width: 1200px;
        height: 712px;
        right: 33.5%;
        top: 29.1%;
        transform: scale(2.3)
    }
       
}